<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>showImages</title>
    <link rel="stylesheet" href="static/index.css">
    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script  src="static/index.js"></script>


</head>
<body>

    <div class="container">
        <label>请选择图像文件：</label>
        <button id="select">(重新)选择图片</button>
        <button id="add">(追加)图片</button>
        <input type="file" id="file_input" multiple/> <!--用input标签并选择type=file，记得带上multiple，不然就只能单选图片了-->
        <button id="submit">提交底库</button>


        <button id="submit2">提交识别</button>



        <button id="submit3">删除底库</button>


        <button id="submit4">多脸识别</button>
        <button id="submit5">以图找人</button>

    </div>


{% if imgnames %}

{% for imgname in imgnames %}

{# style="width: 500px" #}

<div class="float">

    {# style="width: 500px" #}
    <img class="dialog"  src="/show/{{imgname}}" style="width: 200px; height: 150px "/>

    <span>{{ imgname }}</span>


</div>



{% endfor %}





{% endif %}

<div id="dialog_pic" class="dialog_pic">
    <div class="dialog-body">
        <img id="bigImg" src="">
    </div>
</div>


</body>
</html>